footer.footer.mt-auto.bg-light.border-top.py-2
    .container-lg
        ul.nav
            li.nav-item
                a.nav-link.text-body-secondary(href="#") Home
            li.nav-item
                a.nav-link.text-body-secondary(href="#") Contact