mixin tourCard(tour)
    .card.border.rounded-5.shadow
        img.card-img-top.img-fluid.rounded-top-5(src= tour.imageCover)
        .card-body.d-flex.flex-column
            p= `${tour.difficulty} ${tour.duration}-day tour`
            p= tour.name
            p= tour.summary
            a.btn.btn-secondary.align-self-end.rounded-5(href= tour.slug) Details