extends base
include _tourCard

block content
    .container-lg.z-2
        .d-flex.justify-content-center.align-items-center.py-3.gap-3
            h1.fw-bold.text-end All tours
            button.btn.btn-outline-primary(onclick=`window.location.href='/tours/create'`) Create tour
        .row.py-2.g-4
            each tour in tours
               .col-4.z-2
                   +tourCard(tour)
