extends base
include _profileNav

block content
    .container
        .row.p-3.text-center
            h2 My Account
        .row
            .col-2.p-3.d-flex.flex-column
                +profileNav
            .col-10.p-3.text-center
                block profilePage