extends base

block content
    .container
        .row.p-3.g-5
            .col-2.p-3.d-flex.flex-column
                h4 My account
                ul.nav.nav-pills.flex-column
                    +navItem('profile', 'Profile')
                    +navItem('billing', 'Billing')
                    +navItem('my-tours', 'My tours')
                    +navItem('my-bookings', 'My bookings')
                    +navItem('my-reviews', 'My reviews')