extends base

mixin tourInputField(inputId, labelText, helperId, helperText) 
    .mb-3
        label.form-label(for= inputId)= labelText
        input.form-control(id= inputId name= inputId aria-describedby= helperId)&attributes(attributes)
        p.form-text(id= helperId)= helperText

block content
    .container.p-4
        h1.text-secondary.text-center Create a New Tour
        form.mt-5.p-3.create-tour-form(action='/tours/create' method='POST')
            .row.g-3
                h3.mb-3.text-secondary General information
                .row.align-items-center
                    .col-auto
                        p.text-secondary.p-0.m-0 Fill all the general information by yourself or simply generate random information about the tour with the help of AI.
                    .col-auto
                        button.btn.btn-sm.btn-secondary.generate-general-info.align-middle(type='button') Generate
                .row.border.rounded-3.p-3.my-3
                    .col-6
                        +tourInputField('name', 'Tour Name', 'nameHelp', 'Must be 10 to 40 characters.')(required type='text' minlength='10' maxlength='40')
                    .col-6
                        +tourInputField('summary', 'Summary', 'summaryHelp', 'Describe your tour in one sentence.')(required type='text')
                .row.p-3.my-3.border.rounded-3
                    +tourInputField('description', 'Description', 'descriptionHelp', 'Give user colorful and interesting information about your tour.')(required type='text')
                .row.border.rounded-3.p-3.my-3
                    .col-4
                        +tourInputField('price', 'Price', 'priceHelp', 'Tour price in USD.')(required type='number' step='1' min='1')
                    .col-4
                        +tourInputField('priceDiscount', 'Price Discount', 'priceDiscountHelp', 'You can add discount later in tour details.')(type='number' step='1' min='1')
                    .col-4 
                        +tourInputField('maxGroupSize', 'Max group size', 'maxGroupSizeHelp', 'Max people to join the tour.')(required type='number' step='1' min='1')
                .row.border.rounded-3.p-3.my-3
                    .col-6 
                        .mb-3
                            label.form-label(for='duration') Duration (days)
                            select#duration.form-select(required name='duration' aria-describedby='durationHelp' placeholder='Choose number of days')
                                option(disabled selected)
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                                option(value='4') 4
                                option(value='5') 5
                            p#durationHelp.form-text Consecutive days in the tour.              
                    .col-6 
                        .mb-3
                            label(for="difficulty" class="form-label") Difficulty
                            select#difficulty(required name="difficulty" class="form-select" aria-describedby="difficultyHelp")
                                option(disabled selected) 
                                option(value="easy") Easy
                                option(value="medium") Medium
                                option(value="difficult") Difficult
                            p#difficultyHelp.form-text Difficulty of the tour.
            .row
                h3.text-secondary.mt-5 Start Location
                .row.border.rounded-3.p-3.my-3
                    .col-6
                        +tourInputField('startLocDesc', 'Start location description', 'startLocDescHelp', 'Describe start location')(required type='text')
                    .col-6
                        +tourInputField('startLocImg', 'Start location image', 'startLocImgHelp', 'Upload one photo')(required type='file' accept='image/*')
                    .row
                        .position-relative(style="height:500px")
                            #start-location-map.position-absolute.top-0.bottom-0.w-100.border.rounded-3
                            input#startLocLat(hidden type='text')
                            input#startLocLng(hidden type='text')
            button.btn.btn-primary.btn-lg.ml-auto.text-end(type="submit") Create Tour