extends base

block content
    .row
        .d-flex.flex-column.align-items-center.gap-3.p-4
            h4= `${code}. ${message}`
            a.btn.btn-lg.btn-secondary(href='/' role='button') Return to home page