footer
    div
        img(src='/img/logo-green.png' alt='Natours logo')
    ul
        li: a(href='#') About Us
        li: a(href='#') Download Apps
        li: a(href='#') Become a Guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p &copy; by Andrii Myronenko