extends base

block content
    #base-map.position-absolute.top-0.bottom-0.w-100.opacity-50
    .d-flex.flex-column.align-items-center.justify-content-center.p-5.text-center(style='height:500px')
        h1.display-5.fw-bold.z-2 Find your tour
        .col-lg-6.mx-auto.z-2
            h3.fw-bold.fs-3.p-1.text-white
                span.p-1(style='-webkit-box-decoration-break: clone; box-decoration-break: clone; background-image: linear-gradient(\n' +
                '    to bottom right,\n' +
                '    rgba(70, 25, 255, 0.85),\n' +
                '    rgba(35, 131, 255, 0.85)\n' +
                '  );') Create your own tours to explore the world with like-minded people
            .d-flex.justify-content-center
                a.btn.btn-secondary.btn-lg.px-4.me-sm-3.z-2(href='/tours') Browse tours
                if user
                    a.btn.btn-secondary.btn-lg.px-4.z-2(href='/tours/create') Create tour
                else
                    a.btn.btn-secondary.btn-lg.px-4.z-2(href='/login') Login
