extends base

block content
    .d-flex.flex-column.align-items-center.justify-content-center.text-secondary.p-5.text-center.my-auto
        h1.display-5.fw-bold.text-grey Find your tour
        .col-lg-6.mx-auto
            p.fs-5.mb-4 Begin an adventure
            .d-grid.gap-2.d-sm-flex.justify-content-sm-center
                button.btn.btn-outline-primary.btn-lg.px-4.me-sm-3.fw-bold(type='button') Explore the world
                if user
                    button.btn.btn-outline-dark.btn-lg.px-4(type='button') My bookings
                else
                    button.btn.btn-outline-dark.btn-lg.px-4(type='button') Sign up
