extends base

block content
    .d-flex.flex-column.align-items-center.justify-content-center.text-secondary.p-5.text-center(style='height:500px')
        h1.display-5.fw-bold.text-grey Find your tour
        .col-lg-6.mx-auto
            p.fs-5.mb-4 Begin an adventure
            .d-flex.justify-content-center
                a.btn.btn-outline-primary.btn-lg.px-4.me-sm-3.fw-bold(href='/tours') Explore the world
                if user
                    a.btn.btn-outline-dark.btn-lg.px-4(href='/my-bookings') My bookings
                else
                    a.btn.btn-outline-dark.btn-lg.px-4(href='/signup') Sign up
