extends baseProfile

block profilePage
    if reviews.length
       each review in reviews
          p= review
    else
        h5 You have no reviews for now
        a.btn.btn-secondary.btn-lg.mt-3(href='/tours') Pick a tour to leave a review
