extends base

block content
    .form-signin.w-25.m-auto.p-4
        form.d-flex.flex-column.reset-password-form
            h1.h3.mb-3.fw-normal.text-center Reset password
            .form-floating.mb-2
                input.form-control(type='password' id='floatingPassword' minlength='4' placeholder='New password' name='password' required)
                label(for='floatingPassword') New password
            .form-floating.mb-2
                input.form-control(type='password' id='floatingPasswordConfirm' minlength='4' placeholder='Confirm new password' name='passwordConfirm' required)
                label(for='floatingPasswordConfirm') Confirm new password
            button.btn.btn-primary.w-100.py-2(type='submit') Reset password