extends baseProfile

mixin tourInputField(inputId, labelText, helperId, helperText)
    .mb-3
        label.form-label(for= inputId)= labelText
        input.form-control(id= inputId name= inputId aria-describedby= helperId)&attributes(attributes)
        p.form-text(id= helperId)= helperText

block profilePage
    h5.fw-bold Edit my tour
    form.w-50.mt-5.create-tour-form.text-start(action='/tours/create' method='POST')
        +tourInputField('name', 'Tour Name', 'nameHelp', 'Must be 10 to 40 characters.')(required type='text' minlength='10' maxlength='40')
        +tourInputField('summary', 'Summary', 'summaryHelp', 'Describe your tour in one sentence.')(required type='text')
        +tourInputField('description', 'Description', 'descriptionHelp', 'Give user colorful and interesting information about your tour.')(required type='text')
        +tourInputField('price', 'Price', 'priceHelp', 'Tour price in USD.')(required type='number' step='1' min='1')
        +tourInputField('priceDiscount', 'Price Discount', 'priceDiscountHelp', 'You can add discount later in tour details.')(type='number' step='1' min='1')
        +tourInputField('maxGroupSize', 'Max group size', 'maxGroupSizeHelp', 'Max people to join the tour.')(required type='number' step='1' min='1')
        .mb-3
            label.form - label(for='duration') Duration(days)
            select#duration.form-select(required name='duration' aria-describedby='durationHelp' placeholder='Choose number of days')
                option(disabled selected)
                option(value = '1') 1
                option(value = '2') 2
                option(value = '3') 3
                option(value = '4') 4
                option(value = '5') 5
            p#durationHelp.form-text Consecutive days in the tour.
        .mb-3
            label(for="difficulty" class="form-label") Difficulty
            select#difficulty(required name="difficulty" class="form-select" aria-describedby="difficultyHelp")
                option(disabled selected)
                option(value="easy") Easy
                option(value="medium") Medium
                option(value="difficult") Difficult
            p#difficultyHelp.form-text Difficulty of the tour.
        +tourInputField('locDesc', 'Start location description', 'startLocDescHelp', 'Describe start location')(required type='text')
        +tourInputField('locImg', 'Start location image', 'startLocImgHelp', 'Upload one photo')(required type='file' accept='image/*' name='startLocImg')
        button.btn.btn-primary.btn-lg.ml-auto.text-end.create-tour-btn(type="submit") Create Tour